/* Estilos para inputs de fecha */
.date-input::-webkit-calendar-picker-indicator {
    margin-left: 0;
    padding: 0 4px;
}

.date-input {
    padding-right: 8px !important;
}

/* Ajustes para Firefox */
@-moz-document url-prefix() {
    .date-input {
        min-width: 150px !important;
    }
}

/* Ajustes para Edge/IE */
@supports (-ms-ime-align: auto) {
    .date-input {
        min-width: 150px !important;
    }
}